#include <stdio.h>

int main(){

int a;

printf("sayi gir:");
scanf("%d",&a);
int temp=0;
for (int i = 2; i <= a ;)
{
   temp=a%i;
   if (!temp && a!=2)
   {
     printf("Sayı Asal değildir."); break;
   }
   else
   {
      printf("Sayı asaldır.");break;
   }
   
   i++;
   
}



   return 0;
}
